
@{
    ViewBag.Title = "Products";
}

<html>
<body>

    <h2>Products</h2>

    <li>@Html.ActionLink("Laptop", "ProductReturned", "Products", new { prod = "Laptop" }, null)</li> <!-- VISUAL TEXT.    FILE CALLED.     FOLDER CALLED FROM.--> 
    <li>@Html.ActionLink("Desktop", "ProductReturned", "Products", new { prod = "Desktop" }, null)</li> <!-- VISUAL TEXT.    FILE CALLED.     FOLDER CALLED FROM.--> 

    <li>@Html.ActionLink("Tablet", "ProductReturned", "Products", new { prod = "Tablet" }, null)</li> <!-- VISUAL TEXT.    FILE CALLED.     FOLDER CALLED FROM.--> 



</body>
</html>

